body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*header and navigation*/
header, footer, .dashboard, .my-devices, .devices {
  margin: 0 40px;
}
header {
  margin-top: 36px;
}
.top-menu {
  -webkit-padding-start: unset;
  padding-left: 0px;
  display: flex;

}
.logo {
  max-width: 108px;
  max-height: 27px;
}
.navlink {
  list-style-type: none;
  margin: 0 26px 0 26px;
  max-height: 27px
}
.navlink:first-child {
  margin-left: 0;
}
.navlink a {
  color: #333333;
  line-height: 24px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: bold;
}
.navlink .active , .navlink .logo {
  opacity: 1;
}
/* workzone */
.dashboard {
  border-top-color: #F0F0F0;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  margin-top: 33px;
}
/* main block */
.main-block {
  margin-top: 29px;
  margin-right: 26px;
  flex-basis: 630px;
  display: flex;
  flex-direction: column;
}
h1,  h2 {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}
.board-grid {
  margin-top: 26px;
  background-image: url('../img/bg@1x.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: 20px 25px 0 25px;
  justify-content: space-between;
  width: 630px;
  height: 331px;
}
.board-header {
  display: flex;
  flex-direction: column;
}
.board-header h2 {
  font-weight: bold;
  font-size: 27px;
  color: #333333;
  margin: 0 0 6px 0;
}
.notify {
  font-size: 14px;
  color: #333333;
  margin: 0 0 25px 0;
}
.weather {
  display: inline-flex;
}
.weather ul:last-child {
  margin-left: 18px;
}
.location {
  font-size: 14px;
  color: #858585;
  margin: 0 0 6px 0;
}
.temp {
  margin: 0;
  font-size: 36px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  font-weight: bold;
}
.out::after {
  content: url('../img/cloud-drizzle.png');
  margin-left: 5px;
}
.board-card-container {
  display: flex;
  flex-direction: column;
}
.board-card-container .last {
  margin: 0;
  flex-basis: 0;
  height: 41px;
}
.card, .scenarios-card {
  background: #F7F7F7;
  border-radius: 20px;
  margin: 15px 0;
  flex-basis: 200px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.on {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
  border-radius: 20px;
}
.task {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
}
.info {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0;
  text-align: left;
  
}
.icon {
  align-self: flex-start;
}
/* scenarios */
.scenarios {
  margin-top: 29px;
  margin-left: 0;
}
.slider-arrow {
  display: flex;
  justify-content: space-between;
}
.slider-arrow ul {
  display: inline-flex;
  align-self: center;
}
.slider-arrow li {
  width: 9px;
  height: 14px;
  margin: 0 10px;
}
.scenarios .left {
  background-image: url('../img/M_Copy@1x.png');
}
.scenarios .right {
  background-image: url('../img/M_Copy@1x.png');
  flex-basis: 9px;
  transform: rotate(180deg);
}
.scenarios-grid {
  display: flex;
  flex-wrap: wrap;
}
.scenarios-grid .scenarios-card {
  margin: 15px;
  flex-basis: 160px;
}
/* my-devices */
.my-devices {
  display: flex;
  margin-top: 34px;
}
.devices {
  display: flex;
}
.device-filter {
  align-self: center;
  margin-left: 13px;
}
.btn {
  background: #F7F7F7;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  text-align: center;
  margin: 0 10px;
  width: 80px;
  height: 30px;
  border: none;
}
.device-filter >.selected {
  background: #FFD93E;
}
.filterDiv {
  display: none;
  margin: 0 15px;
}
.filterDiv>card {
  display: none;
}
.show {
  display: inline-flex;
}
/* footer */
.bot-menu {
  display: flex;
  height: 64px;
}
.bot-menu ul {
  margin-bottom: 27px;
  margin-top: 22px;
}
.links {
  padding-left: 0;
  display: inline-flex;
  justify-content: space-between;
  flex-basis: 404px
}
.bot-menu a {
  font-size: 12px;
  font-weight: normal;
  color: #858585;
  letter-spacing: 0.01px;
  text-align: left;
}
.copyright {
  display: inline-flex;
  margin-left: auto;
}